[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
django-postgres-extra = "*"
djangorestframework = "*"
inject = "*"
dataclasses-json = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
