[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-postgres-extra = "*"
djangorestframework = "*"
inject = "*"
dataclasses-json = "*"
psycopg2-binary = "*"
djangorestframework-dataclasses = "*"
dj-rest-auth = "*"
django-allauth = "*"
django-cors-headers = "*"
requests = "*"
python-dotenv = "*"
social-auth-app-django = "*"

[dev-packages]
pytest = "*"
black = "*"

[requires]
python_version = "3.11"
