.listContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  justify-content: center;
}

@media (width <= 768px) {
  .listContainer {
    gap: 16px;
    justify-content: center;
  }
}

.listItem {
  flex: 0 0 auto;
}

.loadingContainer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: var(--var-color-text-secondary);
  font-family: var(--var-font-family), sans-serif;
}

.emptyContainer {
  width: 100%;
  padding: 40px 0;
  text-align: center;
  color: var(--var-color-text-secondary);
  font-family: var(--var-font-family), sans-serif;
}