.missionHeader {
  color: #3c3240;
  letter-spacing: 0.15px;
  border-bottom: 2px solid #00000040;
  padding: 10px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 130%;
  margin: 0;
}

@media (width<=991px) {
  .missionHeader {
    width: 100%;
    padding: 8px;
  }
}

@media (width<=640px) {
  .missionHeader {
    padding: 6px;
    font-size: 14px;
  }
}
