.pageContainer {
  padding: 10px;
  background-color: white;
  text-align: center;
  width: 100%;
  min-height: calc(100vh - 56px);
  display: flex;
  justify-content: center;
  padding-bottom: 70px; /* MissionFooterの高さ + paddingに合わせて調整 */
}